body {
  padding: 20px; }

.subheading {
  padding-top: 30px;
  padding-bottom: 10px; }

.ContactInfo {
  padding-top: 30px; }

.ServiceDetails {
  padding-left: 15px; }

img {
  padding-right: 10px;
  padding-bottom: 10px; }
